{% load static %}
{% load ifmethods %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forumSozluk</title>
</head>
{% if is_login == "false" %}
        {% include 'headers/guest-header.html' %}
    {% elif is_login == "true" %}
        {% include 'headers/user-header.html' %}
    {% endif %}
    <body style="background-color:#18191a!important;" >
    <section id="about-us" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="dashboard-area">
                        <div class="row">
                            <div class="col-12" style="padding-right: 0px;padding-left: 0px;">
                                <div class="mb-3"style="background-image: url('{% static  'img/background/efetemel.jpg' %}');background-size:cover;">
                                    <div class="row" style="margin-left:0px;margin-right:0px">
                                        <div class="col-12">
                                            <a class="position-absolute ml-3 mt-3 text-white" href="setting.html" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Edit cover images"></a>
                                            <div class="row">
                                                <div class="col-12">
                                                   <div class="profiles p-3 my-4 rounded text-center float-left ml-2">
                                                        <div class="avatars">
                                                            <a href="setting.html">
                                                                <img src="{% static '../media/profile/' %}{{myuser.username}}.jpg" width="192px" alt="Profile Image" style="border: 5px solid white;" class="avatar-lg rounded-circle img-fluid shadow  mb-3">
                                                            </a>
                                                        </div>
                                                        <div class="names">
                                                            <h3 class="title text-light">@{{myuser.username}}</h3>
                                                            <h3 class="title text-light font-weight-bold">{{myuser.fullname}}</h3>
                                                            <a href="#" class="btn btn-link btn-facebook"><i class="fab fa-facebook"></i></a>
                                                            <a href="#" class="btn btn-link btn-twitter"><i class="fab fa-twitter"></i></a>
                                                            <a href="#" class="btn btn-link btn-gplus"><i class="fab fa-google-plus"></i></a>
                                                            <a href="#" class="btn btn-link btn-instagram"><i class="fab fa-instagram"></i></a>
                                                            <a href="#" class="btn btn-link btn-youtube"><i class="fab fa-youtube"></i></a><br>
                                                            <a href="#" class="btn btn-link" style="text-decoration: none;color: white;"><strong style="color: whitesmoke;">{{myuser.flow}}</strong> Takip</a>
                                                            <a href="#" class="btn btn-link" style="text-decoration: none;color: white;"><strong style="color: whitesmoke;">{{myuser.me_flow}}</strong> Takipçi</a>
                                                            <br>
                                                            <button type="button" class="btn btn-primary">yapılacak</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row infinite-container p-0 m-0">
            {% for post in posts %}
            <div class="card mb-2 bg-dark text-white infinite-item">
              <div class="card-header d-flex align-items-center justify-content-start">
                <img src="{% static '../media/profile/' %}{{post.author}}.jpg" width="36px" class="rounded mt-2 my-1">
                  <a href="../profile/{{ post.author }}" class="text-decoration-none text-white" style="margin-left: 2px"> @{{post.author}}</a>
                  <span style="margin-left: 10px" class="text-warning">Yeni bir paylaşım yaptı</span>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="../post/{{post.postID }}" class="text-white text-decoration-none">{{ post.postPreview }}</a></h5>
                <p class="card-text">{{ post.content }}</p>
                {% if is_login == "true" %}
                  {% if post.postID|ifmethods:user == "true" %}
                      <span class="likeBtn fas fa-thumbs-up fs-4" id="{{ post.postID }}" data-token="{{ csrf_token}}" like="yes" style="transition: all 0.3s;"></span>
                      {% else %}
                      <span class="likeBtn far fa-thumbs-up fs-4" id="{{ post.postID }}" data-token="{{ csrf_token}}" like="no" style=" transition: all 0.3s;"></span>
                  {% endif %}
                    {% else %}
                    <span class="likeBtn far fa-thumbs-up fs-4" id="{{ post.postID }}/" data-token="{{ csrf_token}}" like="not" style=" transition: all 0.3s;" data-bs-toggle="modal" data-bs-target="#exampleModal1"></span>
              {% endif %}
                  <span class="likeCount" id="{{ post.postID }}-{{ post.postID }}"><strong id="{{ post.postID }}-{{ post.postID }}-{{ post.postID }}" class="begen">{{ post.like_count }}</strong> Beğeni</span>
              </div>
            <small class="mb-2">{{ post.publish_date }}</small>
            </div>
            {% endfor %}
        <p class="pagination">
            <a class="pagination__next" href="page2.html">Next page</a>
        </p>
        </div>
        </div>
    </section>
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLabel">Görünüşe göre Beğenmek istedin?</h5>
        <a  class="fas fa-times text-white text-decoration-none" data-bs-dismiss="modal" aria-label="Close"></a>
      </div>
      <div class="modal-body text-white">
        Eğer Beğenmek ve benzeri işlemler yapmak istersen. Kayıt olabilirsin
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Kapat</button>
          <button type="button" class="btn btn-primary text-white"><a href="../register" class="text-white text-decoration-none">Kayıt ol</a></button>
      </div>
    </div>
  </div>
</div>
    {% include 'footer.html' %}
</body>
</html>