{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forumSözlük</title>
</head>
{% include 'headers/guest-header.html'%}
<link rel="stylesheet" href="{% static 'css/widthme.css' %}">

<body class="bg-dark">
    <main class="container-fluid  d-flex justify-content-center">
        <form action="login" method="post" class="p-4 w-lg-50 w-md-75 w-sm-100 w-ssm-100 needs-validation">
            {% csrf_token %}
            <h4 class="text-warning text-center pt-3">Giriş yap</h4>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label text-warning">E-posta Adresi</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="corona@gmail.com" required>
            </div>

             <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label text-warning">Şifre</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Şifre" required>
            </div>

            <div class="col-auto mt-3">
                <button type="submit" class="btn btn-primary mb-3">Giriş yap</button>
            </div>
            <a href="../register" class="text-warning text-decoration-none">Hesabım yok</a><span class="text-white"> veya </span><a href="../forgot-password" class="text-warning text-decoration-none">Şifremi unuttum</a>
        </form>
    </main>
    {% include 'footer.html' %}
</body>
</html>