{% load static %}
{% load ifmethods %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>forumSözluk</title>
    <style>
        .begen:hover{
             -webkit-transform: scale(1.5);
        }
    </style>
</head>
<body class="" style="background-color:#18191a!important;" >

    {% if is_login == "false" %}
        {% include 'headers/guest-header.html' %}
    {% elif is_login == "true" %}
        {% include 'headers/user-header.html' %}
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/widthme.css' %}">

    <div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark  text-warning sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active text-warning" aria-current="page" href="#">
              <i class="fas fa-home"></i> Genel Ayarlar
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">
              <i class="fas fa-lock"></i> Güvenlik ve Gizlilik
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="#">
              <i class="far fa-id-card"></i> İletişim
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">
              <i class="fas fa-user-friends"></i> Geri bildirim
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 text-warning"><i class="fas fa-home"></i> Genel Ayarlar</h1>
      </div>
        <div class= "d-flex flex-column justify-content-center">
                <div class= "bg-dark p-3 m-0 mb-2">
                    <h5 class="text-warning"><i class="fas fa-home"></i> Genel Bilgiler</h5>
                   <div><a href="" class="text-warning text-decoration-none"><i class="fas fa-user"></i> Kullanıcı Adı düzenle</a></div>
                    <div><a href="" class="text-warning text-decoration-none"><i class="fas fa-portrait"></i> Ad Soyad düzenle</a></div>
                </div>
                <div class= "bg-dark p-3 m-0 mb-2">
                    <h5 class="text-warning"><i class="fas fa-lock"></i> Güvenlik ve Giriş</h5>
                    <div><a href="" class="text-warning text-decoration-none"><i class="fas fa-envelope"></i> E-Posta düzenle</a></div>
                    <div><a href="" class="text-warning text-decoration-none"><i class="fas fa-lock"></i> Şifre düzenle</a></div>
                </div>

    </main>
  </div>
</div>


{% include 'footer.html' %}
</body>
</html>
