{% load static %}
{% load ifmethods %}
{% load smallStr %}
{% load contextStr %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>forumSözluk</title>
</head>
<body style="background-color:#18191a!important;"><!-- sa !-->
    {% if is_login == "false" %}
        {% include 'headers/guest-header.html' %}
    {% elif is_login == "true" %}
        {% include 'headers/user-header.html' %}
    {% endif %}
<link rel="stylesheet" href="{% static 'css/widthme.css' %}">
    <main class="container-fluid d-flex justify-content-around justify-content-lg-around justify-content-xl-around justify-content-md-center p-0" role="main">
         <div class="row d-flex m-0 mt-5 justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-sm-center w-75 w-lg-75 w-xl-75 w-md-75 w-sm-100 w-ssm-100">
<div class="infinite-container bg-dark text-warning rounded shadow-sm mb-5 p-3">
    <h6 class="border-bottom pb-2 mb-0 ">Trendler</h6>
    {% for trend in trends %}
    <div class="d-flex text-muted pt-3 infinite-item">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" height="32" src="{% static '../media/profile/' %}{{trend.author}}.jpg"><title>Placeholder</title></img>

      <p class="pb-3 mb-0 small lh-sm  text-white">
          <strong class="d-block text-white"><a href="../profile/{{ trend.author }}" class="text-white text-decoration-none">@{{ trend.author }}</a></strong>
           {{ trend | contextStr }}
      </p>
    </div>
    {% endfor %}
{% if trends.has_next %}
    <a class="infinite-more-link d-none"  href="?sss={{ trends.next_page_number }}">More</a>
  {% endif %}
  </div>
          <div class="loading" style="display: none;">
    Loading...
  </div>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>